body{
    background-color:#F0F2F5;
}
.logonav{
    width: 110px;
    height:20px;
    margin-top:10px;
    padding:0px
}
.navbar{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    align-items:center;
    padding:0px;
    background-color: #4167B2;
    text-decoration: none !important;
}
.logout{
    color : #fff !important;
    font-weight: 600;
    text-decoration: none !important;
    margin-top:10px;
}
.logout a{
    color : #fff !important;
    font-weight: 600;
    text-decoration: none !important;
    margin-top:10px;
}
.box{
    max-width: 612px;
    width: auto;
    background-color: #fff;
    border: 1px solid #DCDDDE;
    border-radius: 8px;
    height: auto;
    height: 600px;
}
.mm{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 150px;

}
@media (max-width: 768px) {
    .mm{
    margin-top: 40px;

}}
.box_header{
    background-color: #F5F6F7;   
    border-bottom: 1px solid #DCDDDE;     
    padding: 15px;
}
.box_content{
    padding: 15px;
}
.box_content > p{
    font-size: 15px;
}
.bottomline{
    display: flex;
    justify-content: space-between;
}
#submit{
    background-color: #3084f4;
    color: #fff;
    border: 1px solid #3084f4;
    border-radius: 4px;
    padding: 7px;
}
.close-modal{
    background-color: #3084f4;
    color: #fff;
    border: 1px solid #3084f4;
    border-radius: 4px;
    padding: 7px;
    float: right;
}
#another{
    color: #0000EE;
    cursor: pointer;
    font-size: 13px;
}
#another:hover{
    cursor: pointer;
}
#fa2{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #DCDDDE;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
.error-message {
color: #a94442;
}

.error-text {
border: 1px solid #a94442 !important;
}
#modal-container {
display: none; /* Hide the modal by default */
position: fixed; /* Set the position to fixed */
z-index: 1; /* Set the z-index to make it appear on top of other elements */
left: 0;
top: 0;
width: 100%; /* Set the width and height to cover the entire screen */
height: 100%;
overflow: auto; /* Add scrollbars if needed */
background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
}

#modal {
background-color: white;
margin: auto; /* Center the modal */
padding: 20px;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
position: relative;
top: 50%;
transform: translateY(-50%);
max-width: 500px;
width: auto; /* Set the width of the modal */
}

@media only screen and (max-width: 600px) {
#modal {
width: 90%; /* Decrease the width of the modal for small screens */
}
}
.weHave{
    font-size: 14px;
    background-color: #e9eaed;
    font-family: system-ui;
    text-align: left;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}